{% extends "Courier/CourierBase.html" %}

{% block title %}Courier Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Couriercss/CourierDashboard.css') }}">
{% endblock %}

{% block content %}
    <div class="courier-dashboard-container">
        <h1>Courier Dashboard</h1>
    </div>

    <div class="courier-dashboard-sections">
        <!-- Welcome Card -->
        <div class="welcome-card">
            <h3>Welcome,{{courier.Courier_Name}}!</h3>
            <img src="courier_welcome.png" alt="Welcome Image" class="welcome-image">
        </div>

        <!-- Notification Card -->
        <div class="notification-card">
            <h3>Notifications</h3>
            <ul>
                <li>Messages Sent: {{messages_sent}}</li>
                <li>Messages Received: {{messages_received}}</li>
            </ul>
        </div>
    </div>

    <div class="courier-dashboard-sections">
        <!-- Current Delivery Record Card -->
        <div class="current-delivery-record-card">
            <h3>Delivery Record</h3>
            <p></strong>Last Destination:</strong> {{destination}}</p>
            <p></strong>Number of Parcels Collected:</strong> {{collected_parcels}}</p>
         <p></strong> Reported Issues:</strong> {{reported_issues}} </p>
        </div>

        <!-- Delivery Activity Card -->
        <div class="delivery-activity-card">
            <h3>Delivery Activity</h3>
            <ul>
                
                <li>{{today_delivery_message}}</li>
                <li>{{future_delivery_message}}</li>
            <ul>
        </div>
</div>
{% endblock %}
