{% extends "ParcelManager/ParcelManagerBase.html" %}

{% block title %} Parcel Manager Dashboard {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='ParcelManagercss/ParcelManagerDashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Parcel Manager Dashboard</h1>
</div>

<div class="dashboard-sections">
    <!-- Welcome Card -->
    <div class="welcome-card">
        <h2>Welcome, {{ parcel_manager.Manager_Name }}!</h2>
    </div>
    
    <!-- Notification Card -->
    <div class="notification-card">
        <h2>Notification:</h2>
        <ul>
            <li>Messages Sent: {{messages_sent}}</li>
            <li>Messages Received: {{messages_received}}</li>
        </ul>
    </div>
</div>

<div class="dashboard-sections">
    <!-- Parcel Status Card -->
    <div class="status-card">
        <h2>Parcel Status</h2>
        <br>
        <p>Number of Parcels Received: {{ total_received_parcels }}</p>
        <br>
        <p>Number of Parcels Delivered: {{ total_delivered_parcels }}</p>
        <br>
        <p>Number of Parcels Pending: {{ pending_parcels }}</p>
    </div>

    <!-- Locker Status Card -->
    <div class="locker-status-card">
        <h2>Locker Status</h2>
        <ul>
            {% for locker in lockers %}
                <li class="locker-status-item {% if locker.Locker_Status == 'Occupied' %}occupied{% else %}available{% endif %}">
                    {{ locker.Locker_ID }} is {{ locker.Locker_Status }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
